header {
	vertical-align: middle;
	display: inline-block;
	padding: 0;
	width: 80%;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 0;
}

header h2 {
	padding: 0;
	margin: 0;
	text-align: right;
}

nav {
	height: 30;
	white-space: nowrap;
	overflow: hidden;
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
}

nav button {
	vertical-align: middle;
	display: inline-block;
}

nav a {
	vertical-align: middle;
	display: inline-block;
}


nav a button {
	vertical-align: middle;
	display: inline-block;
}



body { 
	background-color: white;
	color: black;
} 

.dark-mode {
	background-color: black;
	color: white;
}
 
h2 { text-align: center; }
ul { margin-top: -10; }

